<%= render "layouts/header" %>
<div class="container">
  <h1>Users</h1>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped">
        <thead>
          <tr>

            <th>Image</th>
            <th>Name</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <th scope="row"></th>
              <td><%= image_tag user.avatar, :class => 'avatar'  %></td>
              <td><%= link_to user.name, user_path(user) %></td>
              <td><%= link_to user.email, user_path(user) %></td>
            </tr>
          <% end %>

        </tbody>
      </table>
    </div>
  </div>
</div>
