<div class="site-wrapper">
      <div class="site-wrapper-inner">

        <div class="cover-container" style="margin:20vh auto">
          <div class="inner cover clearfix">
            <h1 class="cover-heading">A Minimalistic PhotoGallery App</h1>
            <p class="lead" style="3vh">upload your photos and categorized them and simple see check out who has liked your images</p>



          <div class="col-md-offset-4 col-md-4">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active col-md-6" style="padding-left:0; padding-right:0;"><a href="#signin" aria-controls="home" role="tab" data-toggle="tab" class="tab-title">Sign in</a></li>
              <li role="presentation" class="col-md-6" style="padding-left:0; padding-right:0;"><a href="#signup" aria-controls="profile" role="tab" data-toggle="tab" class="tab-title">Sign Up</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="signin">

                <form class="form-signin">
                  <h2 class="form-signin-heading">Please sign in</h2>
                  <label for="inputEmail" class="sr-only">Email address</label>
                  <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                  <label for="inputPassword" class="sr-only">Password</label>
                  <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value="remember-me"> Remember me
                    </label>
                  </div>
                  <button class="btn btn-lg btn-cover btn-block" type="submit">Sign in</button>
              </form>

              </div>
              <div role="tabpanel" class="tab-pane" id="signup">
                <form class="form-signin">
                  <h2 class="form-signin-heading">Please sign up</h2>
                  <label for="inputEmail" class="sr-only">Email address</label>
                  <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                  <label for="inputPassword" class="sr-only">Password</label>
                  <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                  <div class="checkbox">

                  </div>
                  <button class="btn btn-lg btn-cover btn-block" type="submit">Sign up</button>
              </form>
            </div>
            </div>

          </div>


          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>by <a href="https://twitter.com/malahatjamei" target="_blnak">@malahatjamei</a>.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
