<%= render "layouts/homenav" %>
<script>
		document.documentElement.className = 'js';
</script>
<main>
  <!-- Initial markup -->
  <div class="segmenter" style="background-image: url(assets/bg.jpg)"></div>
  <h2 class="trigger-headline trigger-headline--hidden"><span>P</span><span>R</span><span>O</span><span></span><span>P</span><span>H</span><span>O</span><span>T</span><span>O</span></h2>
  <div class="bottom-nav">
    <!-- <button class="btn btn-trigger">Show Effect</button> -->
		<button class="btn btn--trigger">By: Mel</button>
  </div>
</main>
<script src="assets/anime.min.js"></script>
<script src="assets/imagesloaded.pkgd.min.js"></script>
<script src="assets/main.js"></script>
<script>
(function() {
  console.log('hi');
  var headline = document.querySelector('.trigger-headline'),
    trigger = document.querySelector('.btn--trigger'),
    segmenter = new Segmenter(document.querySelector('.segmenter'), {
      pieces: 9,
      animation: {
        duration: 1500,
        easing: 'easeOutQuad',
        delay: 50,
        translateZ: {min: 10, max: 65}
      },
      parallax: true,
      parallaxMovement: {min: 5, max: 10},
      positions: [
        {top: 10, left: 20, width: 20, height: 30},
        {top: 8, left: 35, width: 30, height: 20},
        {top: 25, left: 18, width: 14, height: 25},
        {top: 23, left: 50, width: 20, height: 10},
        {top: 30, left: 65, width: 10, height: 30},
        {top: 48, left: 20, width: 10, height: 13},
        {top: 50, left: 67, width: 10, height: 20}
      ],
      onReady: function() {
				/*
				trigger.classList.remove('btn--hidden');
        trigger.addEventListener('click', function() {
          segmenter.animate();
          headline.classList.remove('trigger-headline--hidden');
          this.classList.add('btn--hidden');
        });
				*/
				segmenter.animate();
				headline.classList.remove('trigger-headline--hidden');
      }
    });
})();
</script>
