<div class="row">
  <div class="col-md-12">
    <h1>Home</h1>
  </div>
</div>


<div class="row">
  <div class="col-md-4">
    <h2>row 1 </h2>
    <p>gehetfdffwrfffffh</p>
  </div>

  <div class="col-md-4">
    <h2>row 2 </h2>
    <p>gehetfdffwrfffffh</p>
  </div>

  <div class="col-md-4">
    <h2>row 3 </h2>
    <p>gehetfdffwrfffffh</p>
  </div>
</div>
