/*
 * Globals
 */

/* Links */
body.home a,
body.home a:focus,
body.home a:hover {
  /*color: #fff;*/
}

/* Custom default button */
body.home.btn-default,
body.home.btn-default:hover,
body.home.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

body.home {
  height: 100%;
  background-color: #333;
  background-image: url('bg.jpg');
  background-size: cover;
  color: #fff;
  text-align: center;
}

body.home .btn-cover,
body.home .btn-cover:hover,
body.home .btn-cover:focus {
  background-color: #F57C00;
}


/* Extra markup and styles for table-esque vertical and horizontal centering */
body.home.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
body.home.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
body.home.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
body.home.inner {
  padding: 30px;
}

body.home h1{
  color: #FFA000;
  font-size:5vh;
}


/*
 * Header
 */
body.home.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

body.home.masthead-nav > li {
  display: inline-block;
}
body.home.masthead-nav > li + li {
  margin-left: 20px;
}
body.home.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
body.home.masthead-nav > li > a:hover,
body.home.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
body.home.masthead-nav > .active > a,
body.home.masthead-nav > .active > a:hover,
body.home.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

/*
 * Footer
 */

body.home .mastfoot,
body.home .mastfoot a {
  text-align: cetner;
  color: #FFA000;
}
body.home .mastfoot a:hover {
  color: #fff;
}



body.home .tab-title{
  color: #FFC107;
}


body.home .form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
body.home .form-signin .form-signin-heading,
body.home .form-signin .checkbox {
  margin-bottom: 10px;
}
body.home .form-signin .checkbox {
  font-weight: normal;
}
body.home .form-signin .form-control {
  margin-bottom: 10px;
}
body.home .form-signin .form-control:focus {
  z-index: 2;
}
body.home .form-signin input[type="email"] {
  margin-bottom: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
body.home .form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}



@media (min-width: 768px) {
  body.home.masthead-brand {
    float: left;
  }
  body.home.masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

body.home.cover {
  padding: 0 20px;
}
body.home.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

body.home .mastfoot {
  color: #9E9E9E; /* IE8 proofing */

}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  body.home.masthead {
    position: fixed;
    top: 0;
  }
  body.home.mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  body.home.site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  body.home.masthead,
  body.home.mastfoot,
  body.home.cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  body.home.masthead,
  body.home.mastfoot,
  body.home.cover-container {
    width: 700px;
  }
}
