<h1>Categories page</h1>

<% @categories.in_groups(3, false).each do |group| %>
  <div class="row">
    <% group.each do |cat| %>
      <div class="col-xs-12 col-md-4">
        <%= link_to image_tag(cat.cover_image, :class => 'img-responsive'), cat %>
      </div>
    <% end %>
  </div>
<% end %>
